{{ $email := promptString "Git email for commits" "josh@thaw.io" -}}
{{ $name := promptString "Git name for commits" "Josh DeSherlia" -}}
{{ $ghusername := promptString "GitHub Username" "Deester4x4jr" -}}
{{ $hostname := promptString "Hostname?" -}}

scriptTempDir = "~/tmp"

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    ghusername = {{ $ghusername | quote }}
    hostname = {{ $hostname | quote }}
    wallpaper = "$HOME/Pictures/daft-punk-wallpaper.jpg"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.before-chezmoi-runs.sh" # login to Doppler